<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.mapper.OrderDetailMapper">
    <insert id="insertBatch">
        insert into order_detail
        (order_id, dish_id, setmeal_id, dish_flavor, name, image, number, amount, create_time, update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.dishId}, #{item.setmealId}, #{item.dishFlavor},
            #{item.name}, #{item.image}, #{item.number}, #{item.amount},
            #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>

</mapper>
